<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
      <section class="trendingprompts"><%= link_to '<i class="fa fa-globe fa-lg"></i> Trending Promptkus'.html_safe, trending_path %></section>
      <section class="picks">
        <h3>Editor's Picks</h3>
        <a href="https://desolate-savannah-3068.herokuapp.com/microposts?content=If+money+wasn%27t+necessary+for+survival&show=matching_prompts">If money wasn't necessary for survival...</a>
        <br><br>
        <a href="https://desolate-savannah-3068.herokuapp.com/microposts?content=I%27ll+know+I%27ve+made+it&show=matching_prompts">I'll know I've made it...</a>
        <br><br>
        <a href="https://desolate-savannah-3068.herokuapp.com/microposts?content=If+I+could+be+any+superhero&show=matching_prompts">If I could be any superhero...</a>
        <br><br>
        <a href="https://desolate-savannah-3068.herokuapp.com/microposts?content=There%27s+nothing+like+a+good&show=matching_prompts">There's nothing like a good...</a>
      </section>
    </aside>
    <div class="span8">
      <h3>My Feed</h3>
      <%= render 'shared/home_feed' %>
      <% unless (params[:page].present? || @feed_items.count <10) %>
        <button class = "more btn btn-large btn-info">Show More</button>
      <% end %>
      <%= paginate @feed_items %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1 class="welcome">Welcome to <span class="prompt">prompt<span class="kulogo">ku</span></span></h1>

    <h2 class="example">
      Finish each other's <span id="typer" data-typer-targets="sandwiches.,sentences.,thoughts."></span>
      <script>
        $(function () {
          $('[data-typer-targets]').typer();
        });
      </script>
    </h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>
  <div id="promptsample"></div>
  <script>
    setTimeout(function (){
        $('#promptsample').hide(function(){
          $('#promptsample').fadeIn(300).text("If money wasn't necessary for survival...");
        });
    }, 8500); 

    setTimeout(function (){
        $('#promptsample').fadeOut(200, function() {
            $(this).text("I'll know I've made it when...").fadeIn(300);
        });
    }, 12000);

    setTimeout(function (){
        $('#promptsample').fadeOut(200, function() {
            $(this).text("If I could risk it all...").fadeIn(300);
        });
    }, 15400);

    setTimeout(function (){
        $('#promptsample').fadeOut(200, function() {
            $(this).text('The next big thing is...').fadeIn(300);
        });
    }, 19000);

    setTimeout(function (){
        $('#promptsample').fadeOut(200, function() {
            $(this).text('promptku!').fadeIn(600);
        });
    }, 22000);
  </script>
  <div class="welcomeface"><%= image_tag("promptkuface.svg", alt: "Promptku Smiley") %></div>
<% end %>