<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <% if @user.image.url == nil %>
          <%= image_tag("promptkuface.svg", alt: "Promptku Smiley") %>
        <% else %>
          <%= image_tag @user.image_url.to_s %><br>
        <% end %>
        <br>
        <%= @user.name %>
      </h1>
      <span><%= link_to '<i class="fa fa-heart fa-3x"></i>'.html_safe, likes_micropost_path(@user) %></span>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.microposts.any? %>
      <h3 id="postcount"><%= pluralize(@user.microposts.count, "promptku") %></h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <% unless (params[:page].present? || @microposts.count <25) %>
        <button class = "more">Show More</button>
      <% end %>
        <%= paginate @microposts %>
    <% end %>
  </div>
</div>