<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
      <% if @user.image.url == nil %>
        <%= image_tag("promptkuface.svg", alt: "Promptku Smiley") %>
      <% else %>
        <%= image_tag @user.image_url.to_s %><br>
      <% end %>
      <h1><%= @user.name %></h1>
      <span><b>Promptkus:</b> <%= @user.microposts.count %></span>
      <span class="viewprofile"><%= link_to "view profile", @user %></span>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users">
        <%= render @users %>
      </ul>
      <%= paginate @users %>
    <% end %>
  </div>
</div>