<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <% if @user.image.url == nil %>
          <%= image_tag("promptkuface.svg", alt: "Promptku Smiley") %>
        <% else %>
          <%= image_tag @user.image_url.to_s %><br>
        <% end %>
        <br>
        <span class="userinfonameshow">
          <%= link_to '<i class="fa fa-heart"></i>'.html_safe, likes_micropost_path(@user) %>
          <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
      <span class="followbtn"><%= render 'follow_form' if signed_in? %></span>
    </section>
  </aside>
  <div class="span8">
    <% if @user.microposts.any? %>
      <h3 id="postcount"><%= pluralize(@user.microposts.count, "promptku") %></h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <% unless (params[:page].present? || @microposts.count <20) %>
        <button class = "more btn btn-large btn-info">Show More</button>
      <% end %>
        <%= paginate @microposts %>
    <% else %>
    <h3>promptkus</h3>
      <span class="span8 noposts">There's nothing here yet.</span>
    <% end %>
  </div>
</div>