<li id="post<%= feed_item.id %>" class="micropost" data-url="<%= feed_item.id %>">
  <span class="content" data-url="<%= wrap(feed_item.content1) %>">
    <% if signed_in? %>
      <%= form_for((@micropost), :method => "post", :html => { :id => "nl-form", :class => "nl-form" }, :url => microposts_path, :remote => true, :authenticity_token => true) do |f| %>     
        <%= f.hidden_field :content, :value => feed_item.content %>
        <span id="selectme<%= feed_item.id %>">
          <%= link_to "#{wrap(feed_item.content)}", microposts_path(show: "matching_prompts", content: feed_item.content), {:class => 'prompt'} %>
          <input type="text" value="" placeholder="<%= wrap(feed_item.content1) %>" class="micropost_content1" id="micropost_content1" name="micropost[content1]" data-subline="Finish the thought <em>in your own words.</em>"/>
          <div class="nl-overlay"></div>
        </span><br>
        <span class="user" id="author<%= feed_item.id %>">-<%= link_to feed_item.user.name, feed_item.user %></span>
        <div class="nl-submit-wrap" id="submit<%= feed_item.id %>">
          <span id="tags<%= feed_item.id %>" class="formtags"><%= f.text_field :tag_list, :value => feed_item.tag_list, placeholder: "#tags" %></span><br>
          <button id="btn<%= feed_item.id %>" class="nl-submit" type="submit" name="commit" data-disable-with="Submitting">Post</button>
        </div>
      <% end %>
    <% else %>
      <%= form_for((feed_item), :method => "get", :html => { :id => "nl-form", :class => "nl-form" }, :url => root_path, :authenticity_token => true) do |f| %>     
        <%= f.hidden_field :content, :value => feed_item.content %>
        <span id="selectme<%= feed_item.id %>">
          <%= link_to "#{wrap(feed_item.content)}", microposts_path(show: "matching_prompts", content: feed_item.content), {:class => 'prompt'} %>
          <input type="text" value="" placeholder="<%= wrap(feed_item.content1) %>" class="micropost_content1" id="micropost_content1" name="micropost[content1]" data-subline="Finish the thought <em>in your own words.</em>"/>
          <div class="nl-overlay"></div>
        </span><br>
        <span class="user" id="author<%= feed_item.id %>">-<%= link_to feed_item.user.name, feed_item.user %></span>
        <div class="nl-submit-wrap" id="submit<%= feed_item.id %>">
          <span id="tags<%= feed_item.id %>" class="formtags"><%= f.text_field :tag_list, :value => feed_item.tag_list, placeholder: "#tags" %></span><br>
          <button id="btn<%= feed_item.id %>" class="nl-submit" type="submit" name="commit" data-disable-with="Submitting">Post</button>
        </div>
      <% end %>
    <% end %>
  </span>
  <p class="tags"><%= raw feed_item.tag_list.map { |t| link_to t, tag_path(t) }.join(' ') %></p>

  <div class="functions">
    <!-- voting -->
    <span id="vote<%= feed_item.id %>">
      <% if signed_in? %>
        <% unless feed_item.user.id == current_user.id %>
          <% if current_user && feed_item.has_evaluation?(:votes, current_user) %>
            <%= link_to '<i class="fa fa-heart fa-3x"></i>'.html_safe, vote_micropost_path(feed_item,  type: "down"), :method => :post, :remote => true %>
          <% else %>
            <%= link_to '<i class="fa fa-heart-o fa-3x"></i>'.html_safe, vote_micropost_path(feed_item,  type: "up"), :method => :post, :remote => true %>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to '<i class="fa fa-heart fa-3x"></i>'.html_safe, root_path %>
      <% end %>
    </span>
    <!-- tweet -->
    <% tw_text = "#{feed_item.content} #{feed_item.content1} #promptku " %>
    <% tw_text = URI.escape(tw_text, Regexp.new("[^#{URI::PATTERN::UNRESERVED}]")) %>
    <a href="https://twitter.com/share?url=&text=<%= tw_text %><%= feed_item.content2 %>" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>
    <!-- comment -->
    <span>
      <%= link_to '<i class="fa fa-comment fa-3x"></i>'.html_safe, feed_item %>
    </span>
  </div>
  <div class="timeago">
    <span class="timestamp">
      Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
    </span>
    <% if current_user?(feed_item.user) %>
      <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, feed_item, method: :delete,
                                   :remote=>true,
                                   data: { confirm: "You sure?" },
                                   :title => "delete",
                                   :class => 'delete' %>
    <% end %>
  </div>
</li>