<div class="container demo-1">
<div class="main clearfix">
<li id="post<%= home_feed_item.id %>" class="micropost"><%= @content_count.to_i %>
    <span class="content">
      <%= form_for((@micropost), :method => "post", :html => { :id => "nl-form", :class => "nl-form" }, :url => microposts_path, :remote => true, :authenticity_token => true) do |f| %>  
      <!-- add this to change from edit_>>>  , :html => { :id => "new_micropost", :class => "new_micropost" }-->     
        <%= f.hidden_field :content, :value => home_feed_item.content %>
        <%= f.hidden_field :tag_list, :value => home_feed_item.tag_list%>
        <!-- <%= f.text_area :content1, placeholder: home_feed_item.content1 %> -->
        <span id="selectme<%= home_feed_item.id %>">
        <%= link_to "#{wrap(home_feed_item.content)}", microposts_path(show: "matching_prompts", content: home_feed_item.content) %>
        <input type="text" value="" placeholder="<%= home_feed_item.content1 %>" id="micropost_content1" name="micropost[content1]" data-subline="Finish the sentence <em>in your own words.</em>"/>
        <div class="nl-overlay"></div>
        </span>
          <br><span class="user" id="author<%= home_feed_item.id %>">-<%= link_to home_feed_item.user.name, home_feed_item.user %></span>
          <div class="nl-submit-wrap">
            <button id="btn<%= home_feed_item.id %>" class="nl-submit" type="submit" name="commit" data-disable-with="Submitting">Post</button>
          </div>
          
          <i class="fa fa-picture-o" id="clicker<%= home_feed_item.id %>"></i>
      <% end %>
      <p>Tags: <%= raw home_feed_item.tag_list.map { |t| link_to t, tag_path(t) }.join(' ') %></p>
      <div id="vote<%= home_feed_item.id %>">
        <%= pluralize home_feed_item.reputation_for(:votes).to_i, "vote" %>
        <% unless home_feed_item.user.id == current_user.id %>
          <% if current_user && home_feed_item.has_evaluation?(:votes, current_user) %>
            <%= link_to '<i class="fa fa-heart fa-3x"></i>'.html_safe, vote_micropost_path(home_feed_item,  type: "down"), :method => :post, :remote => true %>
          <% else %>
            <%= link_to '<i class="fa fa-heart-o fa-3x"></i>'.html_safe, vote_micropost_path(home_feed_item,  type: "up"), :method => :post, :remote => true %>
          <% end %>
        <% end %>
      </div>
    </span>
    <span id="retweet<%= home_feed_item.id %>">
      <% unless home_feed_item.user.id == current_user.id %>
        <%= link_to '<i class="fa fa-retweet fa-3x"></i>'.html_safe, retweet_micropost_path(home_feed_item), :method => :post, :remote => true %>
      <% end %>
    </span><span>
      <%= link_to '<i class="fa fa-comment fa-3x"></i>'.html_safe, home_feed_item %>
    </span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(home_feed_item.created_at) %> ago.
    </span>
  <% if current_user?(home_feed_item.user) %>
    <%= link_to "delete", home_feed_item, method: :delete,
                                     :remote=>true,
                                     data: { confirm: "You sure?" },
                                     title: home_feed_item.content %>
  <% end %>
</li>
</div>
</div>
<script>
      var nlform = new NLForm( document.getElementById( 'post<%= home_feed_item.id %>' ) );
</script>
<script>
$(function() {
  $("i#clicker<%= home_feed_item.id %>").click(function() {
    SelectText("selectme<%= home_feed_item.id %>");
  });
});
</script>
<script>
$(function() {
  $("li#post<%= home_feed_item.id %> form input").keyup(function() {
    $("span#author<%= home_feed_item.id %>").hide();
    return $(".nl-form #btn<%= home_feed_item.id %>").fadeIn();
  });
});
</script>