
<%= form_for((@micropost), :remote => true, :authenticity_token => true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Create a new prompt..." %>
    <%= f.text_area :content1, placeholder: "Add an editable ku..." %>
  	<%= f.text_field :tag_list, placeholder: "#tags" %>
  </div>
  <span class="postbutton"><%= f.submit "Post", class: "btn btn-large btn-primary" %></span>
<% end %>

<button type="button" class="btn btn-large btn-info newpromptbtn"><i class="fa fa-plus"></i> new promptku</button>
<script>
	$(function() {
    	$(".newpromptbtn").click(function() {
      		$(".new_micropost").slideDown();
      		$(".newpromptbtn").hide();
    	});
    	$(".postbutton input").click(function() {
      		$(".new_micropost").slideUp();
      		$(".newpromptbtn").fadeIn();
    	});
  	});
</script>