<li>
  <span class="content">
    <%= wrap(micropost.content) %>
    <span>
      <%= form_for(@micropost) do |f| %>       
      <%= f.hidden_field :content, :value => micropost.content %>
      <%= f.text_field :content1, placeholder: micropost.content1 %>
      <%= f.submit "Post", class: "btn btn-large btn-primary" %>



    <% end %>
    <%= pluralize micropost.reputation_for(:votes).to_i, "vote" %>
    <% unless micropost.user.id == current_user.id %>
      <%= link_to "up", vote_micropost_path(micropost, type: "up"), method: "post" %>
      <%= link_to "down", vote_micropost_path(micropost, type: "down"), method: "post" %>
    <% end %>
    </span>
    <span>
      <%= link_to "Retweet", retweet_micropost_path(micropost), :method => :post %>
    </span>



  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  <% if current_user?(micropost.user) %>
    <%= link_to "delete", micropost, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: micropost.content %>
  <% end %>
</li>