<% provide(:title, 'Trending Microposts') %>
<h1>Trending Microposts</h1>
<form action="" method="get">
  <fieldset>
     <button type="submit" name="show" value="daily">Today</button>
     <button type="submit" name="show" value="weekly">This week</button>
     <button type="submit" name="show" value="monthly">This month</button>
  </fieldset>
</form>
<div id="tag_cloud">
	<% if params["show"] == "weekly" %>
		<% @tags = Micropost.tag_counts_on(:tags, :limit => 10, :start_at => 1.week.ago ) %>
	<% elsif params["show"] == "monthly" %>
		<% @tags = Micropost.tag_counts_on(:tags, :limit => 10, :start_at => 1.month.ago ) %>
	<% else %>
		<% @tags = Micropost.tag_counts_on(:tags, :limit => 10, :start_at => 1.day.ago ) %>
	<% end %>
	<% tag_cloud @tags, %w[s m l] do |tag, css_class| %>
		<%= link_to tag.name, tag_path(tag.name), class: css_class%>
	<% end %>
</div>
<div class="col-md-6 col-md-offset-3">

	<%= form_tag microposts_path, method: :get do %>
		<%= text_field_tag :query, params[:query], placeholder: 'Search for a micropost' %>
		<%= submit_tag "Search", name: nil, class: "btn btn-lrg btn-primary" %>
		<% if params[:query].present? %>
			<% @microposts = Micropost.search(params[:query]).page params[:page] %>
		<% end %>
	<% end %>


<%= render 'shared/public_feed' %>


<% unless (params[:page].present? || @microposts.count <5) %>
	<button class = "more">Show More</button>
<% end %>


<%= paginate @microposts %>


</div>