<% provide(:title, 'Trending') %>
<% if !params["query"].present? && params["show"] != "matching_prompts" %>
	<h1 class="trending">Trending</h1>
<% elsif params["show"] == "matching_prompts" %>
	<h3 class="trending"><i class="fa fa-link fa-lg"><span>&nbsp;link to this prompt</span></i></h3>
	<Script>
		$( "h3" ).click(function() {
			var long_url = "<%= request.original_url %>";
			get_short_url(long_url, login, api_key, function(short_url) {
			    $( "h3" ).html('<a href="' + short_url + '">' + short_url + '</a>');
			});
		});
	</script>
<% else %>
	<h1 class="trending">Search Results</h1>
<% end %>
<% unless params["show"] == "matching_prompts" %>
	<div class="trendoptions">
		<% unless params[:tag].present? %>
			<form action="" method="get">
			  <fieldset>
			  	<% if params["show"] == "daily" %>
			    	<button class="btn btn-info selected" type="submit" name="show" value="daily">Today</button>
			    <% else %>
			    	<button class="btn btn-info" type="submit" name="show" value="daily">Today</button>
			    <% end %>
			    <% unless params["show"] == "daily" || params["show"] == "monthly" || params[:query].present? || params["show"] == "matching_prompts" %>
			    	<button class="btn btn-info selected" type="submit" name="show" value="weekly">This week</button>
			    <% else %>
			    	<button class="btn btn-info" type="submit" name="show" value="weekly">This week</button>
			    <% end %>
			    <% if params["show"] == "monthly" %>
			    	<button class="btn btn-info selected" type="submit" name="show" value="monthly">This month</button>
			    <% else %>
			    	<button class="btn btn-info" type="submit" name="show" value="monthly">This month</button>
			    <% end %>
			    <i class="fa fa-search fa-2x"></i>
			  </fieldset>
			</form>
		<% end %>
	</div>
<% end %>
<div class="search">
	<%= form_tag microposts_path, method: :get do %>
		<%= text_field_tag :query, params[:query], placeholder: 'Search...' %>
		<%= submit_tag "Search", name: nil, class: "btn btn-lrg btn-primary" %>
		<% if params[:query].present? %>
			<% @microposts = Micropost.search(params[:query]).page params[:page] %>
		<% end %>
	<% end %>
</div>
<% unless params["show"] == "matching_prompts" %>
	<div id="tag_cloud">
		<% if params["show"] == "daily" %>
			<% @tags = Micropost.tag_counts_on(:tags, :limit => 10, :start_at => 24.hours.ago ) %>
		<% elsif params["show"] == "monthly" %>
			<% @tags = Micropost.tag_counts_on(:tags, :limit => 10, :start_at => 672.hours.ago ) %>
		<% else %>
			<% @tags = Micropost.tag_counts_on(:tags, :limit => 10, :start_at => 168.hours.ago ) %>
		<% end %>
		<% tag_cloud @tags, %w[s m l] do |tag, css_class| %>
			<%= link_to tag.name, tag_path(tag.name), class: css_class%>
		<% end %>
	</div>
<% end %>
<div class="col-md-6 col-md-offset-3">
	<%= render 'shared/public_feed' %>
	<% unless (params[:page].present? || @microposts.count <20) %>
		<button class = "more btn btn-large btn-info">Show More</button>
	<% end %>
	<%= paginate @microposts %>
</div>
<%= javascript_tag do %>
  	$(function() {
    	$("i.fa-search").click(function() {
      		$("div.search").slideDown();
    	});
  	});
  	$(function() {
    	$("div.search input#query").keyup(function() {
      		$("div.search input.btn").fadeIn();
    	});
  	});
<% end %>