<div class="showku" id="show<%= @micropost.id %>">
  <span class="content">
    <%= form_for((@micropost), url: {action: "create"}, :html => { :id => "nl-form", :class => "nl-form" }, method: :post, :authenticity_token => true) do |f| %>       
      <%= f.hidden_field :content, :value => @micropost.content %>
      <span id="selectme<%= @micropost.id %>">
        <%= link_to "#{wrap(@micropost.content)}", microposts_path(show: "matching_prompts", content: @micropost.content), {:class => 'prompt'} %>
        <input type="text" value="" placeholder="<%= wrap(@micropost.content1).gsub('/"', '&quot;') %>" class="micropost_content1" id="micropost_content1" name="micropost[content1]" data-subline="Finish the thought <em>in your own words.</em>"/>
        <div class="nl-overlay"></div>
      </span><br>
      <% if signed_in? %>
        <span class="user" id="author<%= @micropost.id %>">-<%= link_to @micropost.user.name, @micropost.user %></span>
      <% else %>
        <span class="user" id="author<%= @micropost.id %>">-<%= link_to @micropost.user.name, root_path %></span>
      <% end %>
      <div class="nl-submit-wrap" id="submit<%= @micropost.id %>">
        <span id="tags<%= @micropost.id %>" class="formtags"><%= f.text_field :tag_list, :value => @micropost.tag_list, placeholder: "#tags" %></span><br>
        <button id="btn<%= @micropost.id %>" class="nl-submit" type="submit" name="commit" data-disable-with="Submitting">Post</button>
      </div>
    <% end %>
  </span>
  <p class="tags"><%= raw @micropost.tag_list.map { |t| link_to t, tag_path(t) }.join(' ') %></p>

  <div class="functions">
    <!-- voting -->
    <span id="vote<%= @micropost.id %>">
      <span><%= pluralize @micropost.reputation_for(:votes).to_i, "heart" %></span>
      <% if signed_in? %>
        <% unless @micropost.user.id == current_user.id %>
          <% if current_user && @micropost.has_evaluation?(:votes, current_user) %>
            <%= link_to '<i class="fa fa-heart fa-3x"></i>'.html_safe, vote_micropost_path(@micropost, type: "down"), :method => :post, :remote => true %>
          <% else %>
            <%= link_to '<i class="fa fa-heart-o fa-3x"></i>'.html_safe, vote_micropost_path(@micropost, type: "up"), :method => :post, :remote => true %>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to '<i class="fa fa-heart fa-3x"></i>'.html_safe, root_path %>
      <% end %>
    </span>
    <!-- tweet -->
    <% tw_text = "#{@micropost.content} #{@micropost.content1} #promptku " %>
    <% tw_text = URI.escape(tw_text, Regexp.new("[^#{URI::PATTERN::UNRESERVED}]")) %>
    <a href="https://twitter.com/share?url=&text=<%= tw_text %><%= @micropost.content2 %>" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>
  </div>
  <div class="timeago">
    <span class="timestamp">
      Posted <%= time_ago_in_words(@micropost.created_at) %> ago.
    </span>
    <% if current_user?(@micropost.user) %>
      <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, @micropost, method: :delete,
                                     data: { confirm: "You sure?" },
                                     :title => "delete",
                                     :class => 'delete' %>
    <% end %>
  </div>
  <br>
  <span id="commentcount"><%= pluralize(@micropost.comments.count, "comment") %></span>
  <%= render 'shared/comment_form', micropost: @micropost %>
  <span class="comments">
    <ul class="comments">
      <%= render @micropost.comments %>
    </ul>
  </span>

  <%= javascript_tag do %>
    window.nlform = new NLForm( document.getElementById( 'show<%= @micropost.id %>' ) )

  $(function() {
    $("#clicker<%= @micropost.id %>").click(function() {
      SelectText("selectme<%= @micropost.id %>");
    });
  });

  $(function() {
    $("#show<%= @micropost.id %> form input").keyup(function() {
      $("#author<%= @micropost.id %>").hide();
      $("#tags<%= @micropost.id %>").fadeIn();
      $("#submit<%= @micropost.id %>").fadeIn();
    });
  });

  $('#btn<%= @micropost.id %>').click(function( event ) {
      $("#author<%= @micropost.id %>").slideDown();
      $("#tags<%= @micropost.id %>").slideUp();
  });
  <% end %>
</div>
