<div id="<%= @micropost.id %>">
<span class="content">
    <%= form_for((@micropost), url: {action: "create"}, :html => { :id => "nl-form", :class => "nl-form" }, method: :post, :authenticity_token => true) do |f| %>       
        <%= f.hidden_field :content, :value => @micropost.content %>
        <%= f.hidden_field :tag_list, :value => @micropost.tag_list%>
        <span id="selectme<%= @micropost.id %>">
          <%= link_to "#{wrap(@micropost.content)}", microposts_path(show: "matching_prompts", content: @micropost.content) %>
          <input type="text" value="" placeholder="<%= @micropost.content1 %>" id="micropost_content1" name="micropost[content1]" data-subline="Finish the sentence <em>in your own words.</em>"/>
          <div class="nl-overlay"></div>
        </span>
        <br><span class="user" id="author<%= @micropost.id %>">-<%= link_to @micropost.user.name, @micropost.user %></span>
        <div class="nl-submit-wrap">
          <button id="btn<%= @micropost.id %>" class="nl-submit" type="submit" name="commit" data-disable-with="Submitting">Post</button>
        </div>
        <i class="fa fa-picture-o" id="clicker<%= @micropost.id %>"></i>
      <% end %>
    <span>
    <p>Tags: <%= raw @micropost.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
    <%= pluralize @micropost.reputation_for(:votes).to_i, "vote" %>
    <% unless @micropost.user.id == current_user.id %>
      <%= link_to "up", vote_micropost_path(@micropost, type: "up"), method: "post" %>
      <%= link_to "down", vote_micropost_path(@micropost, type: "down"), method: "post" %>
    <% end %>
    </span>
    <span>
      <% unless @micropost.user.id == current_user.id %>
        <%= link_to "Retweet", retweet_micropost_path(@micropost), :method => :post %>
      <% end %>
    </span>



  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(@micropost.created_at) %> ago.
  </span>
  <% if current_user?(@micropost.user) %>
    <%= link_to "delete", @micropost, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: @micropost.content %>
  <% end %>
</div>
<span id="commentcount"><%= pluralize(@micropost.comments.count, "comment") %></span>
<%= render 'shared/comment_form', micropost: @micropost %>
<span class="comments">
  <ul class="comments">
    <%= render @micropost.comments %>
  </ul>
</span>
<script>
  var nlform = new NLForm( document.getElementById( '<%= @micropost.id %>' ) );
</script>
<script>
  $(function() {
    $("i#clicker<%= @micropost.id %>").click(function() {
      SelectText("selectme<%= @micropost.id %>");
    });
  });
</script>
<script>
  $(function() {
    $("div#<%= @micropost.id %> form input").keyup(function() {
      $("span#author<%= @micropost.id %>").hide();
      return $(".nl-form #btn<%= @micropost.id %>").fadeIn();
    });
  });
</script>