<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </a>
      <a href="/" id="logo">prompt<span class="kulogo">ku</span></a>
      <div class="nav-collapse collapse">
        <nav>
          <ul class="nav pull-right">
            <li><%= link_to '<i class="fa fa-home fa-lg"></i> Home'.html_safe, root_path %></li>
            <li><%= link_to '<i class="fa fa-question fa-lg"></i> How-to'.html_safe, help_path %></li>
            <li><%= link_to '<i class="fa fa-globe fa-lg"></i> Trending'.html_safe, trending_path %></li>
            <% if signed_in? %>
              <li><%= link_to '<i class="fa fa-users fa-lg"></i> Users'.html_safe, users_path %></li>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to '<i class="fa fa-user fa-lg"></i> Profile'.html_safe, current_user, :id => "dropdownitem1" %></li>
                  <li><%= link_to '<i class="fa fa-cog fa-lg"></i> Settings'.html_safe, edit_user_path(current_user), :id => "dropdownitem2" %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to '<i class="fa fa-sign-out fa-lg"></i> Sign out'.html_safe, signout_path, :id => "dropdownitem3", method: "delete" %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to '<i class="fa fa-sign-in fa-lg"></i> Sign in'.html_safe, signin_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <script>
    $('#dropwdownitem1').on('click', function(event){
      event.stopPropagation();
    });
    $('#dropdownitem2').on('click', function(event){
      event.stopPropagation();
    });
    $('#dropwdownitem3').on('click', function(event){
      event.stopPropagation();
    });
  </script>
</header>