<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Promptku finish each other's sentences" />
  <meta name="keywords" content="Promptku, sentences, thoughts, phrases, mad libs" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'promptku favicon.ico' %>
  <link rel="stylesheet" href="https://brick.a.ssl.fastly.net/TeX+Gyre+Heros:400,400i/Open+Sans:400,700">
  <%= render 'layouts/shim' %>
</head>
<body>
    <%= render 'layouts/header' %>
    <noscript>
      You don't have javascript enabled. You need to enable it in order to use promptku.
    </noscript>
    <div class="container">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
</body>
</html>
